<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="voicemailtel" parallel="methods" thread-count="5">

    <!--TO register listener class-->
    <listeners>
        <listener class-name="org.voicemailtel.meet.framework.listener.ScreenshotListener"></listener>
    </listeners>

    <!--To register test class-->

    <test name="EndToEnd">
        <classes>
            <class name="org.voicemailtel.meet.framework.testcases.HomeTest">
                <methods>
                    <include name="TC_3_1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
